<input type="checkbox" name="choicecodes" id="choicecodes" checked="checked" value="1" /> <label for="choicecodes">{{#str}}includechoicecodes, questionnaire{{/str}}</label><br />
<input type="checkbox" name="choicetext" id="choicetext" checked="checked" value="1" /> <label for="choicetext">{{#str}}includechoicetext, questionnaire{{/str}}</label><br />
