{{=<% %>=}}
<ion-item>
    <%^completed%>
    <ion-input type="number" [(ngModel)]="CONTENT_OTHERDATA.responses['<%fieldkey%>']"></ion-input>
    <%/completed%>
    <%#completed%>
    <ion-note><core-format-text text="{{ CONTENT_OTHERDATA.responses['<%fieldkey%>'] }}"></core-format-text></ion-note>
    <%/completed%>
</ion-item>