{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_questionnaire/mobile_view_activity

    Template which defines a questionnaire display in the mobile app.

    Context variables required for this template:
    * questionnaire - object: "intro" and "autonumquestions" strings for first respondent link.
    * previous - object: "url" and "title" strings for previous link.
    * respnumber - object: Current positio ("currpos") and "total" number of responses.
    * next - object: "url" and "title" strings for next link.
    * lastrespondent - object: "url" and "title" strings for last respondent link.
    * listlink - string: Url of the link back to the response list.
    * printaction - string: HTML to launch the print function.

    Example context (json):
    {
        "cmid": 985,
        "userid": 267,
        "intro": "Welcome to the questionnaire",
        "autonumquestions": "1",
        "id": "342",
        "surveyid": "23",
        "pagenum": 0,
        "nextpage": 1,
        "prevpage": 0,
        "completed": "1",
        "complete_userdate": "Monday, 17 December 2018, 3:34pm",
        "emptypage": "0",
        "emptypage_content": "This is an empty page.",
        "pagequestions": [
            {
                "id": 5432,
                "type_id": 4,
                "qnum": "Q1",
                "content": "Answer this question",
                "required": "1",
                "fieldkey": "response_1_23",
                "isselect": "0",
                "isbool": "0",
                "isradiobutton": "1",
                "ischeckbox": "0",
                "istextessay": "0",
                "israte": "0",
                "choices": [
                    {
                        "id": 745,
                        "content": "Red",
                        "value": " ",
                        "choice_id": 745,
                        "min": 0,
                        "max": 5,
                        "minstr": "Low",
                        "maxstr": "High",
                        "na": 0,
                    }
                ],
            }
        ],
    }
    }}
{{=<% %>=}}
<div>
    <core-course-module-description description="<%intro%>"
                                    component="mod_questionnaire" componentId="<%cmid%>"
                                    pagenum="<%pagenum%>"></core-course-module-description>
    <%#completed%>
    <ion-card>
        <ion-card-content>
            {{ 'plugin.mod_questionnaire.submitted' | translate }} <%complete_userdate%>
        </ion-card-content>
    </ion-card>
    <%/completed%>
    <div>
        <ion-card>
            <ion-list>
            <%^emptypage%>
                <%#pagequestions%>
                    <ion-list-header text-wrap>
                        <%#autonumquestions%><ion-badge color="dark" item-start><%qnum%></ion-badge><%/autonumquestions%>
                        <core-format-text text="<%content%>"></core-format-text>
                        <%#required%><ion-badge item-end color="danger">{{ 'plugin.mod_questionnaire.required' | translate }}</ion-badge><%/required%>
                    </ion-list-header>
                    <%#isselect%>
                        <ion-select [(ngModel)]="CONTENT_OTHERDATA.responses['<%fieldkey%>']">
                            <%#choices%>
                                <ion-option<%#completed%> disabled="true"<%/completed%><%#value%> selected="true"<%/value%> value="<%id%>"><%content%></ion-option>
                            <%/choices%>
                        </ion-select>
                    <%/isselect%>
                    <%#isbool%>
                        <ion-list radio-group [(ngModel)]="CONTENT_OTHERDATA.responses['<%fieldkey%>']">
                            <%#choices%>
                                <ion-item>
                                    <ion-label><core-format-text text="<%content%>"></core-format-text></ion-label>
                                    <ion-radio<%#completed%> disabled="true"<%#value%> checked="true"<%/value%><%/completed%> value="<%choice_id%>"></ion-radio>
                                </ion-item>
                            <%/choices%>
                        </ion-list>
                    <%/isbool%>
                    <%#isradiobutton%>
                        <ion-list radio-group [(ngModel)]="CONTENT_OTHERDATA.responses['<%fieldkey%>']">
                            <%#choices%>
                                <ion-item>
                                    <ion-label><core-format-text text="<%content%>"></core-format-text></ion-label>
                                    <ion-radio<%#value%> checked="true"<%/value%>
                                    value="<%choice_id%>"
                                    <%#completed%> disabled="true"<%/completed%>></ion-radio>
                                </ion-item>
                            <%/choices%>
                        </ion-list>
                    <%/isradiobutton%>
                    <%#ischeckbox%>
                        <ion-list radio-group>
                        <%#choices%>
                            <ion-item>
                                <ion-label><core-format-text text="<%content%>"></core-format-text></ion-label>
                                <ion-checkbox <%#value%> checked="true"<%/value%> value="<%choice_id%>"
                                <%#completed%> disabled="true"<%/completed%>
                                [(ngModel)]="CONTENT_OTHERDATA.responses['<%fieldkey%>']"></ion-checkbox>
                            </ion-item>
                        <%/choices%>
                        </ion-list>
                    <%/ischeckbox%>
                    <%#istextessay%>
                        <ion-item>
                            <%^completed%>
                                <ion-textarea aria-multiline="true" [(ngModel)]="CONTENT_OTHERDATA.responses['<%fieldkey%>']"
                                core-auto-rows></ion-textarea>
                            <%/completed%>
                            <%#completed%>
                                <ion-note><core-format-text text="{{ CONTENT_OTHERDATA.responses['<%fieldkey%>'] }}"></core-format-text></ion-note>
                            <%/completed%>
                        </ion-item>
                    <%/istextessay%>
                    <%#israte%>
                        <%#choices%>
                            <ion-list-header text-wrap>
                                <core-format-text text="<%content%>"></core-format-text>
                                <ion-badge item-end>{{ CONTENT_OTHERDATA.responses['<%fieldkey%>'] }}</ion-badge>
                            </ion-list-header>
                            <ion-item>
                                <ion-range min="<%min%>" max="<%max%>"
                                           snaps="true" pin="true" color="secondary"
                                           [(ngModel)]="CONTENT_OTHERDATA.responses['<%fieldkey%>']">
                                <ion-label range-left><%minstr%></ion-label>
                                <ion-label range-right><%#na%><ion-icon name="eye-off"></ion-icon><%/na%><%^na%><%maxstr%><%/na%></ion-label>
                                </ion-range>
                            </ion-item>
                        <%/choices%>
                    <%/israte%>
                <%/pagequestions%>
                <%^pagequestions%>
                <p>No questions found.</p>
                <%/pagequestions%>
            <%/emptypage%>
            <%#emptypage%>
                <ion-list-header text-wrap>
                    <core-format-text text="<%emptypage_content%>"></core-format-text>
                </ion-list-header>
            <%/emptypage%>
            <%#prevpage%>
                <button ion-button item-end outline icon-start block core-site-plugins-call-ws-new-content
                        name="mod_questionnaire_submit_questionnaire_response"
                        [params]="{
                                        questionnaireid: <%id%>,
                                        surveyid: <%surveyid%>,
                                        userid: <%userid%>,
                                        cmid: <%cmid%>,
                                        sec: <%pagenum%>,
                                        completed: <%completed%>,
                                        submit: 0,
                                        responses: CoreUtilsProvider.objectToArrayOfObjects(CONTENT_OTHERDATA.responses, 'name', 'value')
                                    }"
                        [args]="{
                                        cmid: <%cmid%>,
                                        pagenum: <%prevpage%>
                                    }"
                        type="submit"
                ><ion-icon name="arrow-back"></ion-icon> {{ 'plugin.mod_questionnaire.previouspage' | translate }}</button>
            <%/prevpage%>
            <%#nextpage%>
                <button ion-button item-end outline icon-end block core-site-plugins-call-ws-new-content
                        name="mod_questionnaire_submit_questionnaire_response"
                        [params]="{
                                        questionnaireid: <%id%>,
                                        surveyid: <%surveyid%>,
                                        userid: <%userid%>,
                                        cmid: <%cmid%>,
                                        sec: <%pagenum%>,
                                        completed: <%completed%>,
                                        submit: 0,
                                        responses: CoreUtilsProvider.objectToArrayOfObjects(CONTENT_OTHERDATA.responses, 'name', 'value')
                                    }"
                        [args]="{
                                        cmid: <%cmid%>,
                                        pagenum: <%nextpage%>
                                    }"
                        type="submit"
                >{{ 'plugin.mod_questionnaire.nextpage' | translate }} <ion-icon name="arrow-forward"></ion-icon></button>
            <%/nextpage%>
            <%^completed%>
                <%^nextpage%>
                    <button ion-button block core-site-plugins-call-ws
                            name="mod_questionnaire_submit_questionnaire_response"
                            [params]="{
                                                questionnaireid: <%id%>,
                                                surveyid: <%surveyid%>,
                                                userid: <%userid%>,
                                                cmid: <%cmid%>,
                                                sec: <%pagenum%>,
                                                completed: <%completed%>,
                                                submit: 1,
                                                responses: CoreUtilsProvider.objectToArrayOfObjects(CONTENT_OTHERDATA.responses, 'name', 'value')
                                            }"
                            confirmMessage="{{ 'plugin.mod_questionnaire.areyousure' | translate }}"
                            refreshOnSuccess="true"
                            type="submit"
                    >{{ 'plugin.mod_questionnaire.savechanges' | translate }}</button>
                <%/nextpage%>
            <%/completed%>
            </ion-list>
        </ion-card>
    </div>
</div>