{{=<% %>=}}
<ion-list radio-group [(ngModel)]="CONTENT_OTHERDATA.responses['<%fieldkey%>']">
    <%#choices%>
    <ion-item>
        <ion-label><core-format-text text="<%content%>"></core-format-text></ion-label>
        <ion-radio<%#value%> checked="true"<%/value%>
        value="<%choice_id%>"
        <%#completed%> disabled="true"<%/completed%>></ion-radio>
    </ion-item>
    <%/choices%>
</ion-list>