{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_questionnaire/completepage

    Template which defines a questionnaire completion page.

    Classes required for JS:
    * /mod/questionnaire/module.js

    Data attributes required for JS:
    * none

    Context variables required for this template: (Note sections have been used to allow non-inclusion)
    * notifications - string: HTML of any notifications loaded.
    * respondentinfo - string: HTML of any specific response/respondent information.
    * title - string: Text title of the questionnaire.
    * printblank - string: HTML of optional print blank questionnaire control.
    * subtitle - string: Optional text subtitle.
    * addinfo - string: Optional HTML additional information.
    * message - string: Any message HTML text.
    * formstart - string: Form start HTML.
    * questions - array: Array of questions HTML.
    * pageinfo - string: Page navigation HTML if present.
    * controlbuttons - string: Questionnaire response management control HTML.
    * formend - string: Form end HTML.

    Example context (json):
    {
        "action": "complete.php",
        "referer": "view.php",
        "a": "323",
        "sid": "1",
        "rid": "0",
        "sec": "0",
        "sesskey": "0xffg45"
    }
    }}
<form id="phpesp_response" method="post" action="{{action}}">
    <input type="hidden" name="referer" value="{{referer}}">
    <input type="hidden" name="a" value="{{a}}">
    <input type="hidden" name="sid" value="{{sid}}">
    <input type="hidden" name="rid" value="{{rid}}">
    <input type="hidden" name="sec" value="{{sec}}">
    <input type="hidden" name="sesskey" value="{{sesskey}}">
    {{{questions}}}
</form>